
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@1,100&display=swap');

body {
    background: url("gori2.png");
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
}

.photo{
    width: 210px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 2px rgb(165, 82, 14);
}

.head p {
    color: #ffffff;
    margin:0;
    font-style: italic;
    text-decoration: none;
}

.container{
    max-width: 750px;
    margin:auto;
}

a {
    color: #ffffff;
    text-decoration: none;    
}
a:hover {
    text-decoration: underline;
}
a:active{
    color: rgba(105, 89, 43, 0.8);
}

.card{
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.header{
    position: relative;
    margin-bottom: 35px;
    display: flex;
}
.text{
    margin-left: 30px;
    margin-top: 40px;
}
h2 {
    color: rgb(165, 82, 14);
}
#social{
    display: inline;
    color: rgb(165,82,14);
}
